.container {
	width:1200px;
	margin: 0 auto;
}
/* Page Styles */
h1, h2, h3, h4, h5, h6, body {
	font-family: "Helvetica Neue";
	font-weight: 400;

}
h1 {
	font-size: 46px;
}
h2 { 
	font-size:30px;
	line-height: 40px;
}
p {
	font-size: 18px;
	font-weight: 200;
	line-height: 22px;
}
.header {
	text-align: center;
	line-height: 1;
	border-bottom: 3px solid gray;
}


.colors	{
	display: inline-block;
	margin-right: 20px;
}

.color1 {
	background-color: #c1b388;
	width:100px;
	height:100px;
	border-radius: 50%;
}
.color2 {
	background-color: #bebab0;
	width:100px;
	height:100px;
	border-radius: 50%;
}
.color3 {
	background-color: #aac1bf;
	width:100px;
	height:100px;
	border-radius: 50%;
}
.color4 {
	background-color: #ce8e8e;
	width:100px;
	height:100px;
	border-radius: 50%;
}
.color5 {
	background-color: #545454;
	width:100px;
	height:100px;
	border-radius: 50%;
}




.icons img {
	height: 80px;
	width: 80px;
}
.copy {
	background-color: #aac1bf;
	padding: 20px;
	width:600px;

}
.textures img {
	height:200px;
	width: 300px;
	margin-right: 20px;
}